.line-through {
  text-decoration: line-through;
}

.todo-input {
  margin-bottom: 24px;
}

.check-all {
  margin: 24px 0 12px 0;
}

.app-title {
  margin: 16px 0 16px 0;
}

.delete {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
}